.app-name {
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 30px;
    background-color: rgb(253, 253, 253);
    padding: 20px 0px 20px 50px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.containerr {
    margin: 0px 200px;
}

.name {
    text-align: center;
    font-family: 'Special Elite', cursive;
}

.description {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 14px;
    font-weight: 500;
}

.search-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-box {
    width: 100%;
    border-radius: 5px;
    outline: none;
    padding-left: 43px;
    height: 40px;
    border: none;
    color: rgb(107, 108, 109);
}

.search-btn {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgb(34, 103, 230);
    color: white;
    opacity: 75%;
}

.search-btn:hover {
    opacity: 100%;
}

.input-field {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 4.8%;
    top: 9px;
}

.cards {
    flex-wrap: wrap;
}

.card {
    width: 15rem;
    background-color: antiquewhite;
    margin-top: 50px;
    margin-right: 20px;
}

/* font-family: 'Courgette', cursive;
font-family: 'Josefin Slab', serif; */